name: AUR packaging

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  aur:
    runs-on: ubuntu-latest
    container:
      image: archlinux:base-devel

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Init pacman
        run: |
          pacman -Sy --noconfirm
          pacman -S --noconfirm git

      - name: Prepare build user
        run: |
          useradd -m builder
          passwd -d builder
          echo "builder ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers

      - name: Build PKGBUILD and generate .SRCINFO
        run: |
          su - builder -c "
            mkdir -p aur/rotorix-bin
            cd aur/rotorix-bin

            cat > PKGBUILD << '\''EOF'\''
pkgname=rotorix-bin
pkgver=0.1.0
pkgrel=1
pkgdesc='Rotor-based encryption CLI inspired by the Enigma machine'
arch=('x86_64')
url='https://github.com/umpire274/rotorix'
license=('MIT')
provides=('rotorix')
conflicts=('rotorix')

source=(
  \"rotorix-\${pkgver}-x86_64-unknown-linux-gnu.tar.gz::https://github.com/umpire274/rotorix/releases/download/rotorix-v\${pkgver}/rotorix-\${pkgver}-x86_64-unknown-linux-gnu.tar.gz\"
)

sha256sums=(
  'd833202a2d8e82ffe61b7780049f3e17551f0a3a78bc0388da274f32bf1efeea'
)

package() {
  install -Dm755 rotorix \"\${pkgdir}/usr/bin/rotorix\"
  install -Dm644 README.md \"\${pkgdir}/usr/share/doc/rotorix/README.md\"
  install -Dm644 CHANGELOG.md \"\${pkgdir}/usr/share/doc/rotorix/CHANGELOG.md\"
  install -Dm644 LICENSE \"\${pkgdir}/usr/share/licenses/rotorix/LICENSE\"
}
EOF
  
            makepkg --printsrcinfo > .SRCINFO
          "

      - name: Upload .SRCINFO artifact
        uses: actions/upload-artifact@v4
        with:
          name: rotorix-bin-srcinfo
          path: aur/rotorix-bin/.SRCINFO
